<!-- About Me Start -->
<section class="hero has-background-info is-fullheight p-6">
    <div class="hero-body p-6">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <div class="card">
                    <div class="card-content">
                        <div class="profile">
                            <div id="profile-picture" class="profile-picture">
                                <img src="{{ data[title]['image']}}">
                            </div>
                        </div>
                        <p class="title is-4"> {{ data[title]['name'] }} </p>
                    </div>
                </div>
                <div class="card" class="about-column">
                    <div class="box about">
                        <p class="title is-5">About Me</p>
                        <p class="subtitle">{{ data[title]['about'] }}</p>
                        <!--<p class="subtitle">{{ data[title]['education']}}</p>-->
                        <div class="columns">
                        <div class="column is-three-fifths is-offset-one-fifth has-background-light">
                            <div class="card-content">
                                <div style="float: left">
                                    <img src="{{trackinfo['albumcover']}}" width="100" height="100" style="padding-right: 5%;"/>
                                </div>
                                <div class="has-text-left" style="padding-left: 5%;">
                                <strong>{{trackinfo['name']}}</strong> <br>
                                by {{trackinfo['artists']}} <br>
                                on {{trackinfo['album']}} <br>
                                </div>
                                <div style="float: right">
                                    <a href="{{trackinfo['url']}}">
                                        <i class="fa fa-2x fa-spotify" style="color:green"></i>
                                    
                                    </a>
                                </div>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Me End -->