<!-- Hobbies Start -->
{% extends "layouts/base.html" %}

{% block content %}

<section id="hobbies" class="hero is-info is-small is-family-monospace has-text-white">
    <div class="column is-8 is-offset-2">
        <div class="hero-body">
            <div class="title has-text-white">
                Logan Hoogendijk
            </div>
            <div class="block">
                Queen's University '24 - BASc studying Computer Engineering
            </div>
            <div class="block">
                BLOCK 2
            </div>
        </div>
        <div class="hero-body has-background-danger-dark">
            <div class="card">

            </div>
        </div>
    </div>
        
    
</section>
<!-- Hobbies End -->
{% endblock %}