<!-- Projects Start -->
{% extends "layouts/base.html" %}

{% block content %}
<section class="hero is-fullheight has-background-info-dark p-6">
    <div class="column is-8 is-offset-2">
        <p class="title has-text-white has-text-centered is-size-2">Projects</p>
        <div id="grid" class="columns">
            {% for project in data[title]['projects'] %}
            <div class="column" style="display: block">
                <div class="notification is-link has-text-centered">
                    <p class="title is-4">{{project['title']}}</p>
                    <p class="subtitle is-6">{{project['description']}}</p>
                    <div class="tags  are-medium is-centered">
                        {% for stack in project['stacks'] %}
                        <span class="tag is-rounded is-link is-light is-size-7">{{stack}}</span>
                        {% endfor %}
                    </div>
                    <div class="has-text-right">
                        <a href="{{project['repo']}}">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    </div>
</section>

{% endblock %}
<!-- Projects End -->