<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{{ data[title]['name']|title}}'s Portfolio">
      <meta property="og:description" content="{{ data[title]['name']|title}}'s Portfolio">
      <meta property="og:url" content="{{ url }}">
      <meta propery="og:author" content="Logan Hoogendijk">
      <title>{{ data[title]['name']|title}}'s Portfolio</title>
      <link rel="icon" type="image/x-icon" href="{{ data[title]['image']}}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
      <script src="https://kit.fontawesome.com/6f97194b39.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../static/styles/main.css">
   </head>
   <body>
      {% include 'components/navigation.html' %}
      <div id="content">{% block content %}{% endblock %}</div>
      {% block footer %}
      <footer class="footer has-background-info">
        <div class="content has-text-white has-text-centered">
          <div class="block">
            <p>
                Copyright <i class="fa fa-copyright"></i> Logan Hoogendijk
            </p>
          </div>
        </div>
      </footer>
      {% endblock %}

      <script src="https://kit.fontawesome.com/1dcdba3ff6.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"
         integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
         crossorigin="anonymous"></script>
      <script src=" {{ url_for('static', filename='js/arrow.js') }}"></script>
   </body>
</html>